In [1]:
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib.pyplot as plt
import scipy.optimize as solver
from functools import reduce

In [ ]:

# 讀取股價資料
df = pd.read_csv("stock_data.csv")

# 設定股票權重範圍
AAPL_range = np.arange(0, 10, 1)
C_range = np.arange(0, 50, 1)
NVDA_range = np.arange(0, 100, 1)
MSFT_range = np.arange(0, 100, 1)

# 產生投資組合權重矩陣
weights = np.array(np.meshgrid(AAPL_range, C_range, NVDA_range, MSFT_range)).T.reshape(-1, 4)

# 計算投資組合預期報酬率和風險
returns = np.sum(df["Close"].values * weights, axis=1)
std = np.sqrt(np.dot(weights.T, np.dot(df["Close"].cov().values, weights)))

# 繪製效率前緣圖
plt.plot(std, returns)
plt.xlabel("風險")
plt.ylabel("報酬率")
plt.show()

In [2]:
df = pd.read_excel(r"C:\Users\00591524\Desktop\GBI\index.xlsx")

df.head(5)

,Dates,LUATTRUU Index,LUACTRUU Index,JPEIGLBL Index,LG30TRUU Index,NDDUUS Index,NDDUE15 Index,NDDUJN Index,NDDUEMEA Index
0,2021-01-01,2559.40,3560.67,933.68,1513.969,10520.810,7563.098,7801.283,321.694
1,2021-01-04,2559.08,3553.45,933.83,1515.955,10366.891,7638.870,7773.418,325.180
2,2021-01-05,2552.32,3536.62,931.40,1515.266,10443.577,7628.958,7784.244,324.330
3,2021-01-06,2536.68,3509.90,926.65,1515.288,10494.510,7739.578,7749.211,324.702
4,2021-01-07,2532.91,3509.67,924.73,1515.432,10663.840,7765.742,7842.237,324.542

In [4]:
df1=df.drop('NDDUEMEA Index',axis=1)
df1.head(5)

,Dates,LUATTRUU Index,LUACTRUU Index,JPEIGLBL Index,LG30TRUU Index,NDDUUS Index,NDDUE15 Index,NDDUJN Index
0,2021-01-01,2559.40,3560.67,933.68,1513.969,10520.810,7563.098,7801.283
1,2021-01-04,2559.08,3553.45,933.83,1515.955,10366.891,7638.870,7773.418
2,2021-01-05,2552.32,3536.62,931.40,1515.266,10443.577,7628.958,7784.244
3,2021-01-06,2536.68,3509.90,926.65,1515.288,10494.510,7739.578,7749.211
4,2021-01-07,2532.91,3509.67,924.73,1515.432,10663.840,7765.742,7842.237

In [5]:
#DAILY RETURN
returns=df1.drop('Dates', axis=1).pct_change()
returns.head(5)

,LUATTRUU Index,LUACTRUU Index,JPEIGLBL Index,LG30TRUU Index,NDDUUS Index,NDDUE15 Index,NDDUJN Index
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,-0.000125,-0.002028,0.000161,0.001312,-0.014630,0.010019,-0.003572
2,-0.002642,-0.004736,-0.002602,-0.000454,0.007397,-0.001298,0.001393
3,-0.006128,-0.007555,-0.005100,0.000015,0.004877,0.014500,-0.004501
4,-0.001486,-0.000066,-0.002072,0.000095,0.016135,0.003381,0.012005

In [6]:
# E(X) & COVARIANCE
mean_returns = returns.mean()
cov_matrix = returns.cov()

print(mean_returns)

LUATTRUU Index   -0.000238
LUACTRUU Index   -0.000257
JPEIGLBL Index   -0.000265
LG30TRUU Index   -0.000115
NDDUUS Index      0.000193
NDDUE15 Index     0.000093
NDDUJN Index     -0.000062
dtype: float64

In [7]:
cov_matrix

,LUATTRUU Index,LUACTRUU Index,JPEIGLBL Index,LG30TRUU Index,NDDUUS Index,NDDUE15 Index,NDDUJN Index
LUATTRUU Index,0.000015,0.000016,0.000008,0.000005,0.000003,0.000001,0.000008
LUACTRUU Index,0.000016,0.000021,0.000012,0.000009,0.000012,0.000011,0.000012
JPEIGLBL Index,0.000008,0.000012,0.000016,0.000012,0.000017,0.000025,0.000016
LG30TRUU Index,0.000005,0.000009,0.000012,0.000013,0.000021,0.000031,0.000016
NDDUUS Index,0.000003,0.000012,0.000017,0.000021,0.000129,0.000066,0.000019
NDDUE15 Index,0.000001,0.000011,0.000025,0.000031,0.000066,0.000137,0.000042
NDDUJN Index,0.000008,0.000012,0.000016,0.000016,0.000019,0.000042,0.000125

In [14]:
# 設定股票權重範圍
LUATTRUU_range = np.linspace(0, 15, 15)
LUACTRUU_range = np.linspace(0, 31, 31)
JPEIGLBL_range = np.linspace(0, 10, 10)
LG30TRUU_range = np.linspace(0, 54, 54)
NDDUUS_range = np.linspace(0, 65, 65)
NDDUE15_range = np.linspace(0, 21, 21)
NDDUJN_range = np.linspace(0, 7, 7)

In [30]:
def generate_weights(LUATTRUU_range, LUACTRUU_range, JPEIGLBL_range, LG30TRUU_range,NDDUUS_range, NDDUE15_range,NDDUJN_range):
  """
  產生投資組合權重矩陣

  Args:
    AAPL_range: AAPL 股票權重範圍
    C_range: C 股票權重範圍
    NVDA_range: NVDA 股票權重範圍
    MSFT_range: MSFT 股票權重範圍

  Returns:
    投資組合權重矩陣
  """

  weights = np.array(np.meshgrid(LUATTRUU_range, LUACTRUU_range, JPEIGLBL_range, LG30TRUU_range,NDDUUS_range, NDDUE15_range,NDDUJN_range)).T.reshape(-1, 7)
  weights = weights.astype(np.float32)



  return weights

In [31]:
weights = generate_weights(LUATTRUU_range, LUACTRUU_range, JPEIGLBL_range, LG30TRUU_range,NDDUUS_range, NDDUE15_range,NDDUJN_range)
weights

MemoryError: Unable to allocate 17.9 GiB for an array with shape (31, 15, 10, 54, 65, 21, 7) and data type float64

In [ ]:
import itertools
import pandas as pd

def generate_solutions(x_range, y_range, z_range, a_range, b_range, c_range, d_range):
  """
  產生所有可能解

  Args:
    x_range: x 的範圍
    y_range: y 的範圍
    z_range: z 的範圍
    a_range: a 的範圍
    b_range: b 的範圍
    c_range: c 的範圍
    d_range: d 的範圍

  Returns:
    所有可能解的列表
  """

  # 產生所有可能的子集
  solutions = itertools.combinations_with_replacement([*range(x_range + 1), *range(y_range + 1), *range(z_range + 1), *range(a_range + 1), *range(b_range + 1), *range(c_range + 1), *range(d_range + 1)], 7)

  # 過濾掉不符合條件的子集
  filtered_solutions = []
  for solution in solutions:
    if sum(solution) == 100:
      filtered_solutions.append(solution)

  return filtered_solutions


x_range = 15
y_range = 31
z_range = 10
a_range = 54
b_range = 65
c_range = 21
d_range = 7

solutions = generate_solutions(x_range, y_range, z_range, a_range, b_range, c_range, d_range)

# 將解轉換為 DataFrame
weights = pd.DataFrame(solutions, columns=["x", "y", "z", "a", "b", "c", "d"])

# 新增'sum'欄位
weights["sum"] = weights.sum(axis=1)

return weights


weights = generate_solutions(x_range, y_range, z_range, a_range, b_range, c_range, d_range)

# 輸出 DataFrame
print(weights)

In [ ]:
# 計算投資組合預期報酬率和風險
returns = np.sum(df["Close"].values * weights, axis=1)
std = np.sqrt(np.dot(weights.T, np.dot(df["Close"].cov().values, weights)))


returns = np.sum(mean_returns * weights) * 252
std_dev = np.sqrt(np.dot(weights.T, np.dot(cov_matrix, weights))) * np.sqrt(252)